html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Tilt Neon", sans-serif;
  color: white;
  text-align: center;
  text-size-adjust: auto;
  background: linear-gradient(45deg, #000f5c, #3f5ffd, #26ab95, #ffffff);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

nav ul {
  list-style-type: none;
  color: #ffffff;
}

nav a {
  color: white;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Estilos para la galería de imágenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Ajusta el espacio entre las imágenes */
  justify-content: center;
  /* Centra las imágenes en la sección */
  margin-bottom: 20px;
  /* Espacio debajo de la galería antes del siguiente contenido */
}

.gallery img {
  border: 3px solid white;
  /* Añade un borde si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra sutil para las imágenes */
  border-radius: 5px;
  /* Bordes redondeados */
  width: 200px;
  /* Ancho fijo para todas las imágenes */
  height: 250px;
  /* Altura automática para mantener la proporción */
}
